/Analizador/nbproject/private/
/Analizador/build/
/Analizador/dist/
/AnalizadorLexico2/nbproject/private/
/AnalizadorLexico2/build/
/AnalizadorLexico2/dist/
/Comparador/nbproject/private/
/Comparador/build/
/Triangulo/nbproject/private/
/Triangulo/build/
